<div class="banner">
    <section class="box col-md-12 column">
        <ul class="col-lg-2 col-md-2 hidden-sm hidden-xs column">
        </ul>
        <ul class="texts col-lg-5 col-md-5 col-sm-12 col-xs-12 column">
            <p>愿中国青年都摆脱冷气，</p>
            <p>只是向上走，不必听自暴自弃者流的话。</p>
            <p>能做事的做事，能发声的发声。</p>
        </ul>
       <!-- <div class="col-lg-4 col-md-4 hidden-sm hidden-xs column">
            <div class="avatar"><a href="/"><span>{{.options.nickname}}</span></a> </div>
            <div class="lock"> </div>
            <div class="avatarher"><a href="/"><span>tolinzou</span></a> </div>
        </div>
        -->
    </section>
</div>